<!DOCTYPE html>
<html>
    <head>
        <title>traffic</title>
        <link rel=stylesheet href=/style.css />
        <link href='http://fonts.googleapis.com/css?family=Quantico:400,700' rel='stylesheet' type='text/css' />
        <script type=text/javascript src=/script.js></script>
    </head>
    <body>
        <a href=/ class=title>traffic</a>
        
        <a href=# class=button id=button>push</a>

        <canvas id=graph width=300 height=100></canvas>
    </body>
</html>
